<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='wolf-awesome.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/x-icon" color>
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <style>
      body {
        background-color: var(--main-color);
        overflow: hidden;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../static/backgrounds/{{ session["background"] }}");
        background-size: cover;
      }
  </style>

    <nav class="navbar-container">
        <div class="navbar"></div>
    </nav>

    <div class="sidebar scroller">
      <div class="sidebar-container">
        <div id="image-container">
          <img src="{{ url_for('static', filename='icon.png') }}" class="logo" alt="Lone Wolf Logo" />
        </div>

        <div class="side-border">
          <div class="box files-box"></div>
        </div>

      </div>
    </div>

    {% block content %}{% endblock%}
    
    <script src="{{url_for('static', filename='main.js')}}"></script>
  </body>
</html>
