{% extends "base.html" %} {% block title %}Project{% endblock %} {% block
content %}

<div class="project-structure">
  <div class="project-content scroller">
    <div class="box-content first-box-content">
      <h3 class="project-title">Eagle Carbine</h3>
      <img src="/rimworld-toolkit-stable/icon.png" class="box-icon" alt="" />

      <div class="content-data scroller">
        <label
          >Weapon Name
          <input type="text" class="project-inputs" />
        </label>

        <label
          >Weapon Damage
          <input type="text" class="project-inputs" />
        </label>

        <label
          >Weapon Range
          <input type="text" class="project-inputs" />
        </label>
      </div>
    </div>

    <div class="invisible-box-content"></div>
  </div>
  <button type="submit" class="project-save-button">
    <i class="fa fa-save"></i>
  </button>
  <button class="project-plus-button">
    <i class="fa fa-plus"></i>
  </button>
</div>
{% endblock %}
