{% extends "base.html" %} {% block title %}Setup{% endblock %} {% block content %}
    <main class="main-content">
      <div class="content">
        <div class="content-form">
          <div class="form">
            <form action="" method="POST">
              <div class="inputs">
                <p class="paragraphs">Language</p>
                <input
                  type="text"
                  class="form-inputs"
                  name="language"
                  placeholder="en"
                  maxlength="2"
                  required
                />
              </div>

              <div class="inputs">
                <p class="paragraphs">Default Author</p>
                <input
                  type="text"
                  class="form-inputs"
                  name="default-author"
                  placeholder="Husko"
                  required
                />
              </div>

              <div class="inputs">
                <p class="paragraphs">Default Author Short Form</p>
                <input
                  type="text"
                  class="form-inputs"
                  name="default-author-short-form"
                  placeholder="OH"
                  required
                />
              </div>

              <div class="inputs">
                <p class="paragraphs">Default GitHub Username</p>
                <input
                  type="text"
                  class="form-inputs"
                  name="default-github-username"
                  placeholder="Official-Husko"
                  required
                />
              </div>

              <div class="inputs">
                <p class="paragraphs">
                  Target Versions
                  <span class="small-text">(Use commas for separation!)</span>
                </p>
                <input
                  type="text"
                  class="form-inputs"
                  name="target-versions"
                  placeholder="1.0, 1.1, 1.2, 1.3, 1.4"
                  required
                />
              </div>

              <button type="submit" class="save-button">Save</button>
            </form>
          </div>
        </div>
      </div>
    </main>
{% endblock %}
