<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lone Wolf's Rimworld Toolkit</title>
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/6f1e933de7.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar-container">
      <div class="navbar"></div>
    </nav>

    <div class="sidebar scroller">
      <div class="sidebar-container">
        <div id="image-container">
          <img src="./icon/Asset 2.png" class="logo" alt="Lone Wolf Logo" />
        </div>

        <div class="side-border">
          <div class="box files-box">
            <div id="icon">
              <a href="#"><i class="fa-solid fa-gun"></i></a>
            </div>
          </div>
        </div>

        <div class="side-border">
          <div class="box"></div>
        </div>

        <div class="side-border">
          <div class="box"></div>
        </div>

        <div class="side-border">
          <div class="box"></div>
        </div>

        <div class="side-border">
          <div class="box"></div>
        </div>

        <div class="side-border">
          <div class="box"></div>
        </div>

        <div class="side-border">
          <div class="box"></div>
        </div>

        <div class="side-border">
          <div class="box"></div>
        </div>

        <div class="side-border">
          <div class="box"></div>
        </div>

        <div class="side-border">
          <div class="box"></div>
        </div>
      </div>
    </div>

    <main class="main-content">
      <div class="content">
        <div class="content-form">
          <div class="form">
            <form action="" method="POST">
              <div class="inputs">
                <p class="paragraphs">Language</p>
                <input
                  type="text"
                  class="form-inputs"
                  name="language"
                  placeholder="en"
                />
              </div>

              <div class="inputs">
                <p class="paragraphs">Default Author</p>
                <input
                  type="text"
                  class="form-inputs"
                  name="default-author"
                  placeholder="Husko"
                />
              </div>

              <div class="inputs">
                <p class="paragraphs">Default Author Short Form</p>
                <input
                  type="text"
                  class="form-inputs"
                  name="default-author-short-form"
                  placeholder="OH"
                />
              </div>

              <div class="inputs">
                <p class="paragraphs">Default GitHub Username</p>
                <input
                  type="text"
                  class="form-inputs"
                  name="default-github-username"
                  placeholder="Official-Husko"
                />
              </div>

              <div class="inputs">
                <p class="paragraphs">
                  Target Versions
                  <span class="small-text">(Use commas for separation!)</span>
                </p>
                <input
                  type="text"
                  class="form-inputs"
                  name="target-versions"
                  placeholder="1.0, 1.1, 1.2, 1.3, 1.4"
                />
              </div>

              <button type="submit" class="save-button">Save</button>
            </form>
          </div>
        </div>
      </div>
    </main>

    <script src="main.js"></script>
  </body>
</html>
